In [28]:
import boto
import pandas as pd

In [32]:
conn = boto.connect_s3()
nichungdatasets = conn.get_bucket('nichung-datasets')
nichungdatasets.list()

In [34]:
bucket.get_all_keys()

[<Key: nichung-datasets,puma_ny.csv>,
 <Key: nichung-datasets,ss13ny.csv>,
 <Key: nichung-datasets,ss14ny.csv>,
 <Key: nichung-datasets,ss15ny.csv>]

In [37]:
data = pd.read_csv('s3:/nichung-datasets/ss13ny.csv')

In [40]:
data.age_group_13.value_counts()

<18      43985
>65      31245
45-54    29268
55-64    26876
25-34    23617
35-44    23411
18-24    15871
Name: age_group_13, dtype: int64